<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Society Management App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sun Arcade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/registration}">Registration & Login</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<div class="container my-2">
  <h1>Flats or Shops Record</h1>
  <a th:href="@{/addNewRecordForm}" class="btn btn-primary btn-sm mb-3">Add New Record</a>
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=flatShopNo&sortDir=' + ${reverseSortDir}}">
          Flat/Shop No.
        </a>
      </th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=sinkingFund&sortDir=' + ${reverseSortDir}}">
          Sinking Fund
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=repairingFund&sortDir=' + ${reverseSortDir}}">
          Repairing Fund
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=serviceCharges&sortDir=' + ${reverseSortDir}}">
          Service Charges
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=parkingCharge&sortDir=' + ${reverseSortDir}}">
          Parking Charge
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=interest&sortDir=' + ${reverseSortDir}}">
          Interest
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=developmentFund&sortDir=' + ${reverseSortDir}}">
          Development Fund
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=nonOccupancy&sortDir=' + ${reverseSortDir}}">
          Non Occupancy
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=educationTrainingFund&sortDir=' + ${reverseSortDir}}">
          Education Training Fund
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=total&sortDir=' + ${reverseSortDir}}">
          Total
        </a></th>
      <th colspan="2">After 15 days
        </a></th>
      <th rowspan="2">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=numberOfUnpaidMonths&sortDir=' + ${reverseSortDir}}">
          Number of Unpaid Months
        </a></th>
      <th rowspan="2" colspan="2">Action</th>
    </tr>
    <tr>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=interestAfter15Days&sortDir=' + ${reverseSortDir}}">
          Interest
        </a></th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=totalAfter15Days&sortDir=' + ${reverseSortDir}}">
          Total
        </a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flatShop: ${listFlatShops}">
      <td th:text="${flatShop.flatShopNo}"></td>
      <td th:text="${flatShop.sinkingFund}"></td>
      <td th:text="${flatShop.repairingFund}"></td>
      <td th:text="${flatShop.serviceCharges}"></td>
      <td th:text="${flatShop.parkingCharge}"></td>
      <td th:text="${flatShop.interest}"></td>
      <td th:text="${flatShop.developmentFund}"></td>
      <td th:text="${flatShop.nonOccupancy}"></td>
      <td th:text="${flatShop.educationTrainingFund}"></td>
      <td th:text="${flatShop.total}"></td>
      <td th:text="${flatShop.interestAfter15Days}"></td>
      <td th:text="${flatShop.totalAfter15Days}"></td>
      <td th:text="${flatShop.numberOfUnpaidMonths}"></td>
      <td>
        <a th:href="@{/showUpdateForm/{id}(id=${flatShop.id})}" class="btn btn-primary">Update</a>
      </td>
      <td>
        <a th:href="@{/deleteRecord/{id}(id=${flatShop.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

  <div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
      <div class="col-sm-2">
        Total Rows: [[${totalItems}]]
      </div>
      <div class="col-sm-1">
        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
      </div>
      <div class="col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
      </div>
      <div class="col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
      </div>
    </div>
  </div>
</div>
</body>
</html>
