<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Society Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sun Arcade</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/registration}">Registration & Login</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Society Management App</h1>
    <hr>
    <h2>Add new Flat or Shop Record</h2>

    <form action="#" th:action="@{/saveRecord}" th:object="${record}" method="POST">
        <input type="text" th:field="*{flatShopNo}" placeholder="Flat or Shop No." class="form-control mb-4 col-4">
        <input type="text" th:field="*{sinkingFund}" placeholder="Sinking Fund" class="form-control mb-4 col-4">
        <input type="text" th:field="*{repairingFund}" placeholder="Repairing Fund" class="form-control mb-4 col-4">
        <input type="text" th:field="*{serviceCharges}" placeholder="Service Charges" class="form-control mb-4 col-4">
        <input type="text" th:field="*{parkingCharge}" placeholder="Parking Charge" class="form-control mb-4 col-4">
        <input type="text" th:field="*{interest}" placeholder="Interest" class="form-control mb-4 col-4">
        <input type="text" th:field="*{developmentFund}" placeholder="Development Fund" class="form-control mb-4 col-4">
        <input type="text" th:field="*{nonOccupancy}" placeholder="Non Occupancy" class="form-control mb-4 col-4">
        <input type="text" th:field="*{educationTrainingFund}" placeholder="Education & Training Fund" class="form-control mb-4 col-4">
        <input type="text" th:field="*{total}" placeholder="Total" class="form-control mb-4 col-4">
        <input type="text" th:field="*{interestAfter15Days}" placeholder="Interest After 15 Days" class="form-control mb-4 col-4">
        <input type="text" th:field="*{totalAfter15Days}" placeholder="Total After 15 Days" class="form-control mb-4 col-4">
        <input type="text" th:field="*{numberOfUnpaidMonths}" placeholder="Number of unpaid months" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save Record</button>
    </form>
</div>
</body>
</html>